@import '~antd/dist/antd.css';

.App {
  text-align: center;
  
}


.App-header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-ops {
  padding-top: 1rem;
}

.csv{
  padding-left: 1rem;
  padding-right: 2rem;
}